#!/bin/bash

# shellcheck disable=SC1091
if [ -f /etc/profile.d/miniforge.sh ] ; then
  source /etc/profile.d/miniforge.sh >&/dev/null
fi

# Auto activate conda env from environment.yml
if [ -f environment.yml ]; then
  env_name=$(grep '^name:' environment.yml | awk '{print $2}')
  if ! conda env list | grep -q "^$env_name\s"; then
    echo "Creating conda environment: $env_name"
    conda env create -f environment.yml
  fi
  conda activate "$env_name"
fi

# shellcheck source=.env
# shellcheck disable=SC1091
[ -f .env ] && source .env
