repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: pytest
        args:
          - "--durations=0"
          - "--last-failed"
          - "--last-failed-no-failures=all"
          - "--new-first"
          - "-rfEsxXp"
          - "-vvv"
        types: [python]
        language: system
        pass_filenames: false
        always_run: true

  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        args: ["--line-length=120"]

  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort
        args:
          [
            "--profile",
            "black",
            "--line-length",
            "120",
            "--py",
            "39",
            "--atomic",
            "--trailing-comma",
            "--multi-line",
            "3",
            "--lines-after-imports",
            "2",
            "--force-alphabetical-sort-within-sections",
          ]

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear
          - flake8-comprehensions
          - flake8-pyproject
          - dlint
        args: ["--max-line-length=120", "--extend-ignore=E203,W503"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        exclude: scripts/
        additional_dependencies: [types-requests, types-python-dateutil]
        args:
          ["--ignore-missing-imports", "--disallow-untyped-defs", "--pretty"]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade

  - repo: https://github.com/bridgecrewio/checkov
    rev: 3.2.495
    hooks:
      - id: checkov
        args: ["--quiet", "--compact"]

  - repo: https://github.com/google/yamlfmt
    rev: v0.20.0
    hooks:
      - id: yamlfmt
        types: [yaml]
        exclude: ^k8s-dev/

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        exclude: ^k8s-dev/

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.35.0
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.46.0
    hooks:
      - id: markdownlint
        exclude: ^terraform/\.terraform/

  - repo: https://github.com/pre-commit/sync-pre-commit-deps
    rev: v0.0.3
    hooks:
      - id: sync-pre-commit-deps
